.buttons_Section{
    height: 35px;
    padding:.2em 2em .2em 2em!important;
	// margin-bottom: -48px;
}

.dual_field{
    width: 50%;
}

.triple_field{
    float: left;
    margin-right: 10px;
    width: 33%;
}