<ion-header>
  <ion-toolbar class="toolbar-visitor">
    <ion-title>Visitantes</ion-title>
    <ion-buttons class="modalcloseButton" slot="start">
      <ion-icon class="icon_exit" (click)='closeModal()' name='arrow-back-circle-outline' >Cerrar</ion-icon>
    </ion-buttons>
    <ion-button slot="end">Agregar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list" detail="false" no-padding>
    <ion-item class="visitor-items" *ngFor="let item of myVisitors; let i = index;">
      <ion-label class="mainTitle" (click)="toggleSection(item)">{{item.name}}</ion-label>
      <ion-icon class="delete-item" slot="end" name="trash-outline" (click)="deleteVisitor(item)"></ion-icon>
    </ion-item>
    

  </ion-list>
</ion-content>
