.list{
    --ion-item-background: #fff;
    border-bottom-color:red ;
}

.visitor-items{
    min-width: 100%;
    ion-icon{
        color: #000;
    }
}

.toolbar-visitor{
    display: contents;
    // justify-content: space-between;
}
.icon_exit{
    margin-top: 15px;
}

.title_visitor{
    margin-top: 15px;
    text-align: center;
    margin-right: 50px;
}

.mainTitle{
    color: black;
}

ion-button{
    color: white;
}

.delete-item{
    padding-right: 10px;
}