
ion-modal {
    &.bottom-end {
      align-items: flex-end;
      --height: auto;
      .ion-page {
        position: relative;
        display: block;
        contain: content;
      }
    }
  }


.newCode{
    font-size: 1.5rem;
    color: #FFBB00;
}


.visitorImg{
    display:inline-block;
    width: 100%;
    height: 30%;
}

.phoneNumber{
    display: flex;
    float: right;
}

.newCodeButton{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    height: 40px;
    margin:10px;

    border-radius: 25px;
    --background:#6599CE;
    font-size: 15px;
    width: 180px;
}

.custom-fab-code{
    height: 40px;
    margin-top: 10px;
    width: 40px;
}

