

ion-modal {
    &.bottom-end {
      align-items: flex-end;
      --height: auto;
      .ion-page {
        position: relative;
        display: block;
        contain: content;
      }
    }
  }
  
  .closeButton{
    margin-right: 0px;
  }

  .title{
    display:flex;
    flex-direction: column;
    margin-left: -20px;
    width: 100%;
  }

  .itemFilter {
    // display: flex;
    align-content:space-between;
}

.filterDate{
    // display: flex;
    font-size:1em;
    vertical-align: middle;
    margin: 0 20px 0 5px;
    text-align: center;
    // width: 60%;
    padding-left: 0px;

}


.newCode{
    font-size: 1.5rem;
    color: #FFBB00;
}


.visitorImg{
    display:inline-block;
    width: 100%;
    height: 30%;
}

.phoneNumber{
    display: contents;
    text-align: center;
}

.newCodeButton{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    height: 40px;
    margin:10px;

    border-radius: 25px;
    --background:#6599CE;
    font-size: 15px;
    width: 180px;
}

.custom-fab-code{
    height: 40px;
    margin-top: 10px;
    width: 40px;
}



.labelVisitor{
   display: contents;
}



.visitor-item-select{
    display:flex;
    align-content: space-between;
    flex-wrap: wrap;
    // width: 100%;
}

.visitorOption{
    display: contents;
    float: right;
    text-align: center;
    
    max-width: 100% !important;
    width: 100%;
}

// ---- Lines used to fix ion-select-option width (
    .alert-tappable.alert-radio{
        height: auto;
        contain: content;
        // --min-height: auto;
    }
    
    .alert-radio-label.sc-ion-alert-md,
    .alert-radio-label.sc-ion-alert-ios{
        white-space: normal;
    }
    
    .alert-checkbox-label.sc-ion-alert-md,
    .alert-checkbox-label.sc-ion-alert-ios {
       white-space: normal;
    }
    .alert-tappable.alert-checkbox {
       height: auto;
       contain: content;
    }

.icon_exit{
    font-size: 38px;
    padding-left: 10px;
}
