<ion-header>

  <ion-toolbar>
    <ion-title class="title">Mandar codigo</ion-title>
    <ion-buttons class="closeButton" slot="start">
      <ion-icon class="icon_exit" (click)='closeModal()' name='arrow-back-circle-outline' >Cerrar</ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="wrap-input">
    <ion-input class='newCode' type="text" name='code' required placeholder="codigo" value={{code}} [(ngModel)]="code" ></ion-input>
    <ion-button class="custom-fab-code" shape="round"  (click)="newCode()">
      <ion-icon name="refresh-outline" size="large"></ion-icon>
    </ion-button>
  </ion-item>

 <form [formGroup] = "UpdCodeForm" >
      <ion-item class="visitor-item-select"  color="primary">
        <ion-label class="visitorOption" href="#" (click)="openVisitorModal()">{{localVisitor}}
        </ion-label>
        <ion-icon name="person-add-outline" slot="start" (click)="openVisitorModal()" ></ion-icon>
      </ion-item>


    <ion-item>
      <ion-label class='labelInput' floating>Telefono : </ion-label>
      <!-- pattern="[+0-9] ([0-9]){3} [0-9]{3}-[0-9]{4}*" maxlength='16' -->
        <ion-input class='phoneNumber' type="text"  required value="visitorSim" 
          [(ngModel)]="visitorSim" formControlName="visitorSim" ></ion-input>
      </ion-item>

<!-- Initial  -------------------------------------------------------------------- -->
      <ion-item id="open-Initial" class="itemFilter">
        <ion-label class='labelInput'>Inicio :</ion-label>
        <ion-note class="filterDate" slot="end">{{initial | date:'dd MMM YYYY hh:mm a'}}</ion-note>
        <ion-icon color="white" slot="end" name="calendar-outline" ></ion-icon>
      </ion-item>
      <ion-modal trigger="open-Initial" [cssClass]="'bottom-end'">
        <ng-template>
          <ion-datetime  class="dateFilter" [showDefaultTitle]="true"
            locale="es-ES" presentation="date-time" size="cover" [preferWheel]="true"
            #myInitial displayFormat="D MMM YYYY hh:mm a" min="2022" max="2060" 
            [showDefaultButtons]="true" doneText="Cambiar" cancelText="Ignorar"
            (ionChange)="onChangeInitial(myInitial.value)"
            >
            <span slot="title">Fecha de inicio</span>
        </ion-datetime>
        </ng-template>
      </ion-modal> 

<!-- Expiry ----------------------------------------------------------------------------- -->

      <ion-item id="open-Expiry" class="itemFilter">
        <ion-label class='lblFilterDate'>Fin :</ion-label>
        <ion-note class="filterDate" slot="end">{{expiry | date:'dd MMM YYYY hh:mm a'}}</ion-note>
        <ion-icon color="white" slot="end" name="calendar-outline" ></ion-icon>
      </ion-item>
      <ion-modal trigger="open-Expiry" [cssClass]="'bottom-end'">
        <ng-template>
          <ion-datetime  class="dateFilter" [showDefaultTitle]="true"
            locale="es-ES" presentation="date-time" size="cover" [preferWheel]="true"
            #myExpiry display-format="D MMM YYYY hh:mm" min="2021"  max="2060" 
            [showDefaultButtons]="true" doneText="Cambiar" cancelText="Ignorar"
            (ionChange)="onChangeExpiry(myExpiry.value)"
            >
            <span slot="title">Fecha que expira</span>
        </ion-datetime>
        </ng-template>
      </ion-modal>

<!-- ----------------------------------- -->
    
      <ion-item class="wrap-input">
        <ion-label class='labelInput' floating>Expira en horas: </ion-label>
        <ion-input class='input' type="number" name='diff' disabled value={{diff}}></ion-input>
      </ion-item>

      <ion-item  class="wrap-input">
      <ion-label class="labelInput">Comentario: </ion-label>
        <ion-textarea #mycomment class='input' 
        (ionChange)="onChangeComment(mycomment.value)" 
        name="comment" value={{comment}}></ion-textarea>
      </ion-item>

      <ion-item class="wrap-input">
        <ion-button type="submit" class="submit titleButtonBlue" 
        [disabled] = "UpdCodeForm.invalid" expand="full"  
        (click)="onSubmitTemplate()" >Enviar</ion-button>
      </ion-item>

  </form>
</ion-content>
