<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button [hidden]="!SoyAdmin" tab="tab2">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="codes">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Codigos</ion-label>
    </ion-tab-button>
  
  <ion-tab-button tab="tab4">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Visitas</ion-label>
  </ion-tab-button>

  <ion-tab-button [hidden]="!SoyAdmin" tab="admin">
    <ion-icon name="settings-outline"></ion-icon>
    <ion-label>Admin</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
