<ion-header>
  <ion-toolbar>
    <ion-title>Contactos</ion-title>
    <ion-buttons class="modalcloseButton" slot="end">
      <ion-icon (click)='closeModal()' name='close-circle' >Cerrar</ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
      <ion-item button *ngFor="let contact of contacts?" (click)="onClickContact(contact)">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-avatar slot="start">
          <ion-img [src]="contact.photoThumbnail"></ion-img>
        </ion-avatar>
        <p>Hello</p>
        <!-- <ion-label class="ion-text-wrap">
          <ion-text color="dark">
            <h3>{{contact.name}}</h3>
          </ion-text>
          <ion-text color="medium" *ngFor="let number of contact.phoneNumbers">
            <p>{{number.label}}:{{number.number}}</p>
          </ion-text>
          <ion-text color="medium" *ngFor="let mails of contact.emails">
            <p>{{mails.label}}: {{mails.address}}</p>
          </ion-text>
        </ion-label> -->
      </ion-item>
  </ion-list>
</ion-content>
