.itemFilter{
    color: #fff;
    --ion-item-background: #6599CE;
}

.dateFilter{
    font-size: 1.2rem;
    font-weight: bold;
}

.accordion-list{
    --ion-item-background: #fff;
    .section, .section-active, .section-expired{
    border-radius: 5px;
//  margin-top: 5px;
//  margin-bottom: 5px;

   max-width: 95% !important;
   margin-left: auto;
   margin-right: auto;
    // margin-bottom: 4px;
    --min-height:58px;
    }

    ion-icon{
        color: #000;
    }
}


.section{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    --ion-item-background:#a7aaa8;
    --ion-item-color:#fff;
    
}

.section-expired{
    margin-top: -6px;
    padding-top: -6px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    --ion-item-background:lightgray;
    --ion-item-color:gray;
}

.section-active{
    --ion-item-background:#999e9d;
    --ion-item-color: #fff;
    font-weight: 600;

    ion-icon{
        color:#fff;
    }
}

.detail-list{
    padding:0px;
    margin: 0px;
    .detail, .detail-active{
        margin-bottom:2px;
    }
}

.detail{
    margin-top: 5px;
    padding-left:12px;
    max-width: 97% !important;
    --ion-item-background:#efeeee;
    --ion-item-color: #000;
}

.detail-active{
    --ion-item-background: #fad86b;
    --ion-item-color:#fff;

    ion-icon{
        color: #fff;
    }
}

.product-list{
    padding:0px;
    margin:0px;
}

.detail-item{
    border-radius: 5px;
    margin-top:2px;
    margin-bottom:1px;
}

ion-modal {
    &.bottom-end {
      align-items: flex-end;
      --height: auto;
      .ion-page {
        position: relative;
        display: block;
        contain: content;
      }
    }
  }

.filterDate{
    display: flex;
    color: white;
    font-size: medium;
    vertical-align: middle;
    margin: 0 20px 0 5px;
    text-align: center;
    width: 50%;
    padding: 15px;
}

.lblFilterDate{
    display: inline;

}