<ion-header [translucent]="true" [ngClass]="{'section-SendSMS-show' : SoyAdmin}">
  <ion-toolbar>
    <div class="mainToolBar">
      <div id='header-logo'>
        <div class="mainTitle">
          <img class="logo_header" src="../../assets/logo_transparent.png">
        </div>
        <div class="version">version {{version}}</div>
      </div>
      <div id="header-core">
        <ion-title>{{coreName}}</ion-title>
      </div>
      <!-- <div> -->
        <ion-buttons class="" slot="end">
        <ion-button class="home-manu" id="popover-button">
          <ion-icon slot="icon-only"  name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <!-- </div> -->
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">BYTHEG</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- fab placed to the bottom end -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="button-green" (click)="newModal()">
      <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- Popover ---------------------------- -->


<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item-group>
          <ion-item [button]="true" [detail]="false" (click)="openFamily()">Familia</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="recoverAccount()">Recupera cuenta</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="deviceLost()">Celular perdido</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="localNotification()">Local notification</ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item [button]="true" [detail]="false" (click)="logout()">Log out</ion-item>
        </ion-item-group>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<!-- --------------------------------------------  -->

    <!-- Bi-color -->
    <div slot="fixed" class="wrap-input aperturas aperturas-blanco" >
      <!-- <ion-title>Aperturas {{coreName}}</ion-title> -->
      <div style="display:flex; justify-content:space-between; margin-top: 15px;">
        <ion-button class="doorsButton-green"  (click)="sendOpening('open,peatonal')">Peatonal</ion-button>
        <ion-button class="doorsButton-blue"  (click)="sendOpening('open,vehicular')">Vehicular</ion-button>
      </div>
    </div> 

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <div class="info">
    <ion-card class="" *ngFor="let item of localInfo; let i = index;">
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
        <ion-card-subtitle>{{item.createdAt}}</ion-card-subtitle>
      </ion-card-header>
      <!-- <ion-card-content class="" (click)="openUrl(item.url)">
          <img src="{{item.path}}{{item.image}}" href={{item.url}}/>
            <p>
              {{item.description}}
            </p>
      </ion-card-content> -->
    </ion-card>
  </div>
 
  <!-- </form> -->


</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-button class="logout" expand="full" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-footer> -->