<ion-header [translucent]="true" [ngClass]="{'section-SendSMS-show' : SoyAdmin}">
  <ion-toolbar>
    <div class="mainToolBar">
      <div id='header-logo'>
        <div class="mainTitle">
          <img class="logo_header" src="../../assets/logo_transparent.png">
        </div>
        <div class="version">version {{version}}</div>
      </div>
      <div id="header-core">
        <ion-title>{{coreName}}</ion-title>
      </div>
      <div>
        <ion-buttons slot="start">  
          <ion-menu-button auto-hide="false" color="dark" menu="adminMenu"></ion-menu-button>   
        </ion-buttons> 
      </div>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">BYTHEG</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="button-green" (click)="newModal()">
      <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

        <!-- Menu -->

  <ion-menu class="home-manu" side="start" menuId="adminMenu" contentId="home" type="overlay">
    <!-- <ion-header>
      <ion-toolbar class="titleGreen">
        <ion-title class="title" >Menu</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <ion-content>
      <!-- <ion-list >
        <ion-item (click)="openFamily()">Familia</ion-item>
        <ion-item class="wrap-input">
          <ion-label class='labelInputWarning'>Toggle option : </ion-label>
        </ion-item>
        <ion-item-divider></ion-item-divider>
      </ion-list> -->
    </ion-content>
    <ion-footer class="item-menu" >
      <ion-list >
        <ion-item (click)="openFamily()">Familia</ion-item>
        <ion-item class="wrap-input">
          <ion-label class='labelInputWarning'>Toggle option : </ion-label>
        </ion-item>
        <ion-item-divider></ion-item-divider>
      </ion-list>
      <ion-item ></ion-item>
      <ion-item ></ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="exit"></ion-icon>
        <ion-label class="home-menu-option">Log out</ion-label>
      </ion-item>
      <ion-item ></ion-item>
      <ion-item ></ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet Id="home"></ion-router-outlet>

<!-- --------------------------------------------  -->

    <!-- Bi-color -->
    <div slot="fixed" class="wrap-input aperturas aperturas-blanco" >
      <!-- <ion-title>Aperturas {{coreName}}</ion-title> -->
      <div style="display:flex; justify-content:space-between; margin-top: 15px;">
        <ion-button class="doorsButton-green"  (click)="sendOpening('open,peatonal')">Peatonal</ion-button>
        <ion-button class="doorsButton-blue"  (click)="sendOpening('open,vehicular')">Vehicular</ion-button>
      </div>
    </div> 

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <div class="info">
    <ion-card class="" *ngFor="let item of localInfo; let i = index;">
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
        <ion-card-subtitle>{{item.createdAt}}</ion-card-subtitle>
      </ion-card-header>
      <!-- <ion-card-content class="" (click)="openUrl(item.url)">
          <img src="{{item.path}}{{item.image}}" href={{item.url}}/>
            <p>
              {{item.description}}
            </p>
      </ion-card-content> -->
    </ion-card>
  </div>
 
  <!-- </form> -->


</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-button class="logout" expand="full" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-footer> -->