<ion-header>
  <ion-toolbar>
    <div class="mainTitle">BYH16M</div>
    <div class="version">version {{version}}</div>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 <div class="login_logo">
  <img src="../../../assets/logo_v2.png"/>
  <div class="version">version {{version}}</div>
 </div> 

  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="pwd"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
 
    <ion-button class="loginButton" type="submit" expand="block" 
      [disabled]="!credentials.valid">Signin</ion-button>
    <div class="resetPwd-Link">
      <a routerLink="/pwd-reset">Recuperar contraseña</a>
    </div>
  </form>
</ion-content>