.CoreWrapper{
    display: inline;
    width: 100%;
}

.wrap-input1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: yellow;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.Section1{
    width: 100%;
}


.Section2{
    width: 100%;
}

.detailTitle{
    font-weight: bold;
}

.ion-select-Division{
    text-align: left;
    max-width: 90% !important;
    padding-left: 0 !important;
    width: 100% !important;
}