.CoreWrapper{
    display: inline;
    width: 100%;
}

.Section1{
    float: left;
    width: 50%;
}

.Section2{
    float: right;
    width: 50%;
}

.detailTitle{
    font-weight: bold;
}

.ion-select-Division{
    text-align: left;
}