<ion-header>
  <ion-toolbar>
    <ion-title class="title">Familia</ion-title>
    <ion-buttons class="closeButton" slot="start">
      <ion-icon class="icon_exit" (click)='closeModal()' name='arrow-back-circle-outline' >Cerrar</ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list  class="list" detail="false" lines="full" no-padding [inset]="true">
    <ion-item class="visitor-items" *ngFor="let item of myFamily; let i = index;">
      <ion-label class="mainTitle" (click)="toggleSection(item)">{{item.name}}</ion-label>
      <ion-icon class="delete-item" slot="end" name="trash-outline" (click)="removeVisitor(i,item.name)"></ion-icon>
    </ion-item>
  </ion-list> -->

  <ion-list  *ngFor="let item of myFamily; let i = index;" class="accordion-list" lines="none" detail="false" no-padding>
    <ion-item tappable class='section' (click)="toggleSection(i)">
       <ion-icon color="white" slot="end" name="chevron-forward-outline" *ngIf="!item.open"></ion-icon>
       <ion-icon color="white" slot="end" name="chevron-down-outline" *ngIf="item.open"></ion-icon>
       <ion-label class="ion-text-wrap">
       <strong>{{item.name}}</strong></ion-label>
   </ion-item>

   <form tappable *ngIf="item.open" class="detail">
       <!-- <ion-item class='detail-item'>
         <ion-label> Address: <b>{{item.Address}}</b></ion-label>
       </ion-item>
       <ion-item class='detail-item'>
         <ion-label> Coordinates: <b>{{item.coord[0]}}, {{item.coord[1]}}</b></ion-label>
       </ion-item>
       <ion-item class='detail-item'>
         <ion-label> Sim:  <b>{{item.Sim}}</b></ion-label>
       </ion-item>
       <ion-item class='detail-item'>
         <ion-label class='labelInput'>Gate : <b>{{item.detail.Gate_type}}</b>, Motor: <b>{{item.detail.Motor}}</b></ion-label>
       </ion-item> -->

       <ion-list  class="accordion-list"  lines="none" detail="false" no-padding>
         <ion-item tappable class="sectionRoutines"  (click)="toggleSectionRoutines()">
           <ion-icon color="white" slot="end" name="chevron-forward-outline" *ngIf="!routineOpen"></ion-icon>
           <ion-icon color="white" slot="end" name="chevron-down-outline" *ngIf="routineOpen"></ion-icon>
           <ion-label class="ion-text-wrap">
           <strong>Opciones</strong></ion-label>
         </ion-item>
         <form tappable *ngIf="routineOpen" class="detailRoutines">
           <ion-item class="detail-item" (click)="collectUsers(item._id,item.Name)">View users</ion-item>
           <ion-item class="detail-item" (click)="modalRegister(item._id,item.name,item.location)">Add user</ion-item>
           <ion-item class="detail-item" (click)="ModuleRST()">Reset module</ion-item>
           <ion-item class="detail-item" (click)="getSIMstatus()">Module status</ion-item>
           <ion-item class="detail-item" (click)="getCoreCodes()">Active codes</ion-item>
         </form>
       </ion-list>

       <!-- <ion-item class="wrap-input">
         <ion-label>Enabled core : </ion-label>
         <ion-toggle id="disableToggle" slot="end" checked="{{item.enable}}"
         (ionChange)="chgStatusCore($event,item.enable,item._id, item.name)"></ion-toggle>
       </ion-item>

        <ion-item  *ngIf="myUserList?.length > 0" >
         <ion-label class='labelInput' floating>Users:</ion-label>
         <ion-select ok-text="Seleccionar" cancel-text="Cancelar" (ionChange)="setupCode(visitorId)" >
           <ion-select-option *ngFor="let user of myUserList; let i = index;" value={{user._id}}  >{{user.name}}</ion-select-option>
         </ion-select>
     </ion-item> -->
   </form>
 </ion-list>
</ion-content>
