
.family-menu{
    min-width: 100%;
}

.itemWrapper{
    display: inline;
    width: 100%;
}

.Section1{
    float: left;
    width: 50%;
}

.Section2{
    float: right;
    width: 50%;
}

.detailTitle{
    font-weight: bold;
}

.ion-select-Division{
    text-align: left;
}

.labelInputWarning{
    color:red;
}

.ion-toggle-red {
    --background: #fff;
    --background-checked: orange;
  
    --handle-background: #fff;
    --handle-background-checked: red;
  }

.accordion-list{
    --ion-item-background: #fff;
    .section, .section-active, .section-expired{
    border-radius: 5px;
//  margin-top: 5px;
//  margin-bottom: 5px;

   max-width: 95% !important;
   margin-left: auto;
   margin-right: auto;
    // margin-bottom: 4px;
    --min-height:58px;
    }

    ion-icon{
        color: #000;
    }
}

.section{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    --ion-item-background:#999e9d;
    --ion-item-color:#fff;
}

.sectionRoutines{
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    --ion-item-background:#6599CE;
    --ion-item-color:#fff;
    height: 50px;
    width: 80%;
}
.section-expired{
    margin-top: -6px;
    padding-top: -6px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    --ion-item-background:lightgray;
    --ion-item-color:gray;
}

.section-active{
    --ion-item-background:#999e9d;
    --ion-item-color: #fff;
    font-weight: 600;

    ion-icon{
        color:#fff;
    }
}

.detail-list{
    padding:0px;
    margin: 0px;
    .detail, .detail-active{
        margin-bottom:2px;
    }
}

.detail{
    padding-left:12px;
    max-width: 97% !important;
    --ion-item-background:#efeeee;
    --ion-item-color: #000;
}

.detailRoutines{
    padding-left:12px;
    min-width: 87% !important;
    --ion-item-background:#dfedfa;
    --ion-item-color: #000;
}

.detail-active{
    --ion-item-background: #fad86b;
    --ion-item-color:#fff;

    ion-icon{
        color: #fff;
    }
}

.product-list{
    padding:0px;
    margin:0px;
}

.detail-item{
    border-radius: 5px;
    margin-top:2px;
    margin-bottom:1px;
}

