<ion-header>
  <ion-toolbar>
    <div class="header">
      <img class="visitorImg" src="../../../assets/logo_v2.png">
    
      <ion-title>Agregar Visitante</ion-title>
      <ion-buttons class="closeButton" slot="end">
        <ion-icon (click)='closeModal()' name='close-circle' >Cerrar</ion-icon>
      </ion-buttons>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup] = "RegisterForm" (submit)="onSubmit()" > -->
  <form [formGroup] = "RegisterForm" >
    <ion-card>
     
      
      <ion-card-content>
      <ion-button class="titleButtonBlue" expand="full" (click)="modalContacts()" 
         >Mis Contactos</ion-button>
      <!-- <ion-button class="titleButtonBlue" expand="full" color="light"  (click)="modalContacts()" >Mis Contactos</ion-button> -->
      
      <ion-item class="wrap-input">
        <ion-input class='input' type="text" name='name' 
        required placeholder="nombre" 
        formControlName="LocalName" value={{name}} ></ion-input>
        <br><br>
      </ion-item>
      
        <ion-item class="wrap-input">
          <ion-input class='input' type="text" 
          name='email' placeholder="email" 
          value={{email}} ></ion-input>
        </ion-item>
  
        <ion-item class="wrap-input">
          <ion-label>Origen celular</ion-label>
          <ion-select value="MX" okText="Aceptar" cancelText="Cancelar">
            <ion-select-option value="MX">Mexico</ion-select-option>
            <ion-select-option value="US">USA</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input class='input' type="text" name='sim' 
           required formControlName="LocalSim" [(ngModel)]="sim"
            placeholder="Numero de celular" value={{sim}} >
          </ion-input>
          <br><br>
        </ion-item>


        <ion-item class="wrap-input">
          <ion-label>Genero</ion-label>
          <ion-select value="gender" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}"
          okText="Aceptar" cancelText="Cancelar" >
            <ion-select-option value="M" >Hombre</ion-select-option>
            <ion-select-option value="F" >Mujer</ion-select-option>
          </ion-select>
        </ion-item>

          <!-- <ion-item>
            <ion-input class='input' type="text" name='avatar' required placeholder="Image" value={{sim}} [(ngModel)]="sim" ></ion-input>
            <br><br>
          </ion-item> -->
  
          <ion-item class="wrap-input">
            <ion-button type="submit" [disabled]="RegisterForm.invalid" 
            class="submit titleButtonBlue" expand="full"  
            (click)="onSubmit()" >Grabar</ion-button>
          </ion-item>

          
        </ion-card-content>
    </ion-card>

  </form>
</ion-content>
