.header{
    display: flex;
    // flex-wrap: wrap;
}

.header img{
    margin: 10px;
    width: 100px;
}

.title{
    display:flex;
    flex-direction: column;
    margin-left: -20px;
    width: 100%;
  }

.closeButton{
    font-size: 3em;
    // position:relative;
}

.icon_exit{
    font-size: 38px;
    padding-left: 10px;
}